.serviceImage > img {
    max-height: 40px;
    width: auto;
}

.agreementCheckboxWrapper {
    margin-bottom: 0 !important;
    display: block !important;

    :global(.ant-form-item-explain) {
        min-height: 0 !important;
    }

    .agreementCheckbox {
        display: flex;
        align-items: flex-start;
        margin-left: 0 !important;

        span:first-child {
            margin-top: 5px;
        }
    }
}

.radioDescription {
    font-size: 11px;
    margin-left: 24px;
    max-height: 100px;
    overflow-y: auto;
  }