@use 'styles/variables' as vars;

.wrapper {
  display: block;
  @media (max-width: #{vars.$md}) {
    // display: none;
  }
}

.modal {
  :global(.ant-modal-body) {
    padding: var(--dimension_general-gutter) var(--dimension_general-gutter-05);
  }

  :global(.ant-tabs .ant-tabs-content .ant-tabs-tabpane) {
    max-height: 600px;
    overflow-y: auto;
    padding: 0 var(--dimension_general-gutter);
  }

  :global(.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn) {
    text-align: right;
  }

  :global(.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
    text-align: right;
    font-weight: bolder;
  }

  h4 {
    font-weight: bolder;
    font-size: 1.1em;

    & + div {
      border-bottom: 1px solid $grey-light-color;
      margin-bottom: var(--dimension_general-gutter-05);
    }
  }

  :global(.ant-slider) {
    border-bottom: none;
    margin: var(--dimension_general-gutter);
    & + div {
      display: flex;
      justify-content: space-between;
      padding-bottom: var(--dimension_general-gutter);
      border-bottom: 1px solid $grey-light-color;
      margin-top: var(--dimension_general-gutter-05);
      margin-bottom: var(--dimension_general-gutter-05);
    }
  }

  :global(.ant-checkbox-group) {
    & > div {
      width: 33%;
      float: left;
      padding: var(--dimension_general-gutter-05);
      border-radius: var(--dimension_general-radius);
      border: 1px solid white;
      @media (max-width: #{vars.$md}) {
        width: 49%;
      }

      &:hover {
        background-color: $grey-light-color;
        box-shadow: var(--design_general-shadow);
      }
    }
  }
}
