.price {
    padding: 5px 0;
    display: block;
    & span[data-property="price"] {
      display: block;
      color: rgb(175, 202, 5);
      font-weight: bolder;
      text-align: left;
      white-space: nowrap;
      text-decoration: none;
    }
    & span[data-property="priceWithoutVat"] {
      white-space: nowrap;
      color: rgb(197, 197, 197);
      font-weight: lighter;
      font-size: 0.7em;
      text-decoration: none;
    }
  }