@use 'styles/variables' as vars;

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 50px);
  margin: var(--dimension_general-gutter-05);
  padding: var(--dimension_general-gutter);
  border: 1px solid transparent;
  border-radius: var(--dimension_general-radius);

  @media (max-width: #{vars.$md}) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--dimension_general-gutter);
    margin: 0;
    border-color: $grey-dark-color;
    img {
      height: 75px;
      width: auto;
    }
  }

  &:hover {
    border: 1px solid $primary-color;
    box-shadow: var(--design_general-shadow);
  }

  img {
    max-width: 100%;
    border-radius: var(--dimension_general-radius);
  }

  .name {
    font-size: 17px;
    color: $primary-color;
    display: block;
    margin: 10px 0;
    text-align: left;
    @media (max-width: #{vars.$md}) {
      font-size: 0.8em;
      padding: 0 var(--dimension_general-gutter-05);
    }
  }

  .price {
    text-align: left;
    color: $text-color;
    white-space: nowrap;

    & [data-property='price'] {
      font-size: 1.1em;
      font-weight: bolder;
    }
  }
}
