@use "sass:math";
@import "styles/variables";

.badge {
  border-radius: $general-radius;
  background-color: transparent;
  padding: math.div($general-gutter, 2);
  font-weight: bolder;
  fill: $primary-color;
  color: $primary-color;
  display: inline-flex;
  align-items: center;
  margin-bottom: math.div($general-gutter, 2);
  font-size: 1.2em;
  span {
    margin-right: math.div($general-gutter, 2);
  }
}

.product {
  border-radius: $general-radius;
  display: flex;
  padding: $general-gutter;
  background-color: white;
  border: $general-border;
  transition: $general-transition;

  &:hover {
    border-color: $color-primary;
    box-shadow: $general-shadow;
    transition: $general-transition;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-left: $general-gutter;
  }
}

.wrapper {
  background-color: $color-primary;
  padding: $general-gutter;
  border-radius: $general-radius;
  .badge {
    fill: white;
    color: white;
  }
}
