@use "styles/variables" as vars;

.badge {
  border-radius: var(--dimension_general-radius);
  background-color: transparent;
  padding: var(--dimension_general-gutter-05);
  font-weight: bolder;
  fill: $primary-color;
  color: $primary-color;
  display: inline-flex;
  align-items: center;
  margin-bottom: var(--dimension_general-gutter-05);
  font-size: 1.2em;
  span {
    margin-right: var(--dimension_general-gutter-05);
  }
}

.product {
  border-radius: var(--dimension_general-radius);
  display: flex;
  padding: var(--dimension_general-gutter);
  background-color: white;
  border: var(--design_general-border);
  transition: var(--design_general-transition);

  &:hover {
    border-color: $color-primary;
    box-shadow: var(--design_general-shadow);
    transition: var(--design_general-transition);
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-left: var(--dimension_general-gutter);
  }
}

.wrapper {
  background-color: $color-primary;
  padding: var(--dimension_general-gutter);
  border-radius: var(--dimension_general-radius);
  .badge {
    fill: white;
    color: white;
  }
}
