@use "styles/variables" as vars;

.ahoj {
  background: rgba(0, 0, 0, 0.03);
  padding: 0px 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;

  :global(.ant-radio-group) {
    width: 100%;
  }

  .specificPaymentOptionHeader {
    font-weight: bolder;
    font-size: 13px;
    margin: 10px 10px 20px;
    width: 100%;
  }

  .specificPaymentOptions {
    display: flex;
    flex-wrap: wrap;

    .specificPaymentOption {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 5px;
      width: 100%;

      @media (min-width: #{vars.$md}) {
        width: calc(50% - 10px);
        margin: 5px;
      }

      label {
        cursor: pointer;
      }

      img {
        margin-bottom: 5px;
        width: 100% !important;
        height: auto !important;
      }

      label {
        height: auto;
        border: none;
        width: 100%;
        padding: var(--dimension_general-gutter);
        border: 1px solid #d9d9d9;
        font-size: 13px;
        background: #ffffff;
        margin: 0;
        cursor: pointer;
        // border-radius: var(--dimension_general-radius);

        &:global(.ant-radio-wrapper-checked),
        &.active,
        &:hover {
          box-shadow: var(--design_general-shadow);
          border-color: vars.$primary-color;
        }

        .optionHeader {
          display: flex;
          justify-content: space-between;
          width: 100%;

          input {
            position: relative;
            opacity: 1;
            margin-right: 10px;
          }
          span {
            justify-content: flex-start !important;
            text-align: left;
          }
        }

        span {
          display: flex;
          flex-direction: row;
          align-items: center;

          &:nth-of-type(2) {
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;
            img {
              max-width: 100px;
            }
          }
        }

        .description {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
}
