@use "styles/variables" as vars;
.packetery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px 0;
  flex-wrap: wrap;

  background: rgba(0,0,0,0.02);
  border: 1px solid rgba(0,0,0,0.05);

  .selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .error {
    display: block;
    width: 100%;
    font-size: 1.2em;
  }
}